<div class="login-container">
  <mat-card>
    <h1>Iniciar Sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label class="white-text">Usuario</mat-label>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput formControlName="username">
        <mat-error *ngIf="formControls.username?.errors?.['required']">
          El usuario es requerido
        </mat-error>
        <mat-error *ngIf="formControls.username?.errors?.['minlength']">
          El usuario debe tener al menos 3 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="white-text">Contraseña</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="formControls.password?.errors?.['required']">
          La contraseña es requerida
        </mat-error>
        <mat-error *ngIf="formControls.password?.errors?.['minlength']">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </mat-form-field>

      <button class="primary-btn" mat-raised-button type="submit" [disabled]="loginForm.invalid || loginForm.disabled">
        {{loginForm.disabled ? 'Iniciando sesión...' : 'Ingresar'}}
      </button>

      <mat-error *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
      </mat-error>
    </form>
  </mat-card>
</div>