.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--bg-secondary);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .sidebar-header {
        height: 75px;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        background: var(--bg-primary);
        border-bottom: 1px solid var(--border-color);

        .logo-container {
            height: 40px;
            margin-right: 1rem;

            img {
                height: 100%;
                width: auto;
            }
        }

        .app-title {
            color: var(--text-primary);
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0;
        }
    }

    .navigation-list {
        padding: 1rem;

        a {
            color: var(--text-primary);
            border-radius: 8px;
            transition: all 0.3s ease;
            margin: 0.25rem 0;
            display: flex;
            align-items: center;
            padding: 0.75rem 1rem;

            mat-icon,
            span {
                margin-right: 1rem;
                color: var(--text-secondary);
            }

            &:hover {
                background: var(--accent-light);
                color: var(--text-primary);

                mat-icon {
                    color: var(--text-primary);
                }
            }

            &.active-link {
                background: var(--accent);
                color: var(--bg-primary);

                mat-icon {
                    color: var(--bg-primary);
                }
            }
        }

        .nav-expansion-panel {
            box-shadow: none;
            background: transparent;

            .mat-expansion-panel-header {
                padding: 0.75rem 1rem;

                mat-icon,
                span {
                    margin-right: 1rem;
                    color: var(--text-primary);
                }

                &:hover {
                    background: var(--accent-light);
                    color: var(--text-primary);

                    mat-icon {
                        color: var(--text-primary);
                    }
                }
            }

            .mat-expansion-panel-content {
                .mat-list-item {
                    padding-left: 2rem;
                }
            }
        }
    }
}