<!-- sidebar.component.html -->
<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo-container">
            <img src="assets/logoL.jpeg" alt="Logo" class="logo">
        </div>
        <div class="user-info" *ngIf="currentUser$ | async as user">
            <span>{{user.firstName}} {{user.lastName}}</span>
            <small>{{user.role?.name}}</small>
        </div>
    </div>

    <mat-nav-list class="navigation-list">
        <ng-container *ngFor="let item of menuItems$ | async">
            <!-- Item sin hijos -->
            <mat-list-item *ngIf="!item.children?.length" [routerLink]="item.route" routerLinkActive="active-link">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <span matListItemTitle>{{item.label}}</span>
            </mat-list-item>

            <!-- Item con hijos (usando mat-expansion-panel) -->
            <mat-expansion-panel *ngIf="item.children?.length" class="nav-expansion-panel" [expanded]="item.expanded"
                (opened)="toggleExpanded(item)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>{{item.icon}}</mat-icon>
                        <span>{{item.label}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <mat-list-item *ngFor="let child of item.children" [routerLink]="child.route"
                        routerLinkActive="active-link">
                        <mat-icon matListItemIcon>{{child.icon}}</mat-icon>
                        <span matListItemTitle>{{child.label}}</span>
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
        </ng-container>
    </mat-nav-list>
</div>