/* sidebar.component.scss */
:host {
    display: block;
    height: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--bg-secondary);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .sidebar-header {
        height: 75px;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        background: var(--bg-primary);
        border-bottom: 1px solid var(--border-color);

        .logo-container {
            height: 40px;
            margin-right: 1rem;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }

        .app-title {
            color: var(--text-primary);
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0;
        }
    }

    .navigation-list {
        padding: 1rem 0;
        overflow-y: auto;

        .mat-mdc-list-item {
            margin: 0.25rem 1rem;
            border-radius: 8px;
            
            &:hover {
                background: var(--accent-light);
            }

            &.active-link {
                background: var(--accent);
                
                .mat-icon, span {
                    color: var(--bg-primary);
                }
            }

            .mat-icon {
                margin-right: 1rem;
                color: var(--text-secondary);
            }
        }

        .nav-expansion-panel {
            background: transparent;
            box-shadow: none;
            margin: 0.25rem 1rem;

            .mat-expansion-panel-header {
                padding: 0 16px;
                height: 48px;
                border-radius: 8px;

                &:hover {
                    background: var(--accent-light) !important;
                }

                .mat-expansion-panel-header-title {
                    color: var(--text-primary);
                    display: flex;
                    align-items: center;

                    .mat-icon {
                        margin-right: 1rem;
                        color: var(--text-secondary);
                    }
                }
            }

            .mat-expansion-panel-content {
                .mat-nav-list {
                    padding: 0;

                    .mat-mdc-list-item {
                        margin-left: 2rem;
                    }
                }
            }

            &.mat-expanded {
                .mat-expansion-panel-header {
                    background: var(--accent-light);
                }
            }
        }
    }
}

// Estilos para el scrollbar
.navigation-list::-webkit-scrollbar {
    width: 6px;
}

.navigation-list::-webkit-scrollbar-track {
    background: transparent;
}

.navigation-list::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 3px;
}