<!-- features/dashboard/dashboard.component.html -->
<div class="dashboard-container">
    <!-- Encabezado con saludo personalizado -->
    <header class="dashboard-header">
        <h1>Bienvenido {{(currentUser$ | async)?.firstName}} {{(currentUser$ | async)?.lastName}}</h1>
    </header>
    <!-- Tarjetas de resumen -->
    <div class="summary-cards">
        <ng-container *ngFor="let card of summaryCards">
            <!-- Solo mostramos las tarjetas según el rol del usuario -->
            <mat-card *ngIf="!(card.requiresAdmin && (currentUser$ | async)?.role?.name !== 'ADMIN_ROLE')"
                [ngClass]="card.color">
                <mat-card-content>
                    <div class="card-content">
                        <div class="card-info">
                            <h2>{{ card.title }}</h2>
                            <p class="value">{{ card.value }}</p>
                        </div>
                        <mat-icon [ngClass]="card.color">{{ card.icon }}</mat-icon>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
    <!-- Panel de acciones rápidas -->
    <mat-card class="quick-actions">
        <mat-card-header>
            <mat-card-title>Acciones Rápidas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="action-buttons">
                <!-- Botón para Pagar a Proveedores -->
                <button mat-raised-button (click)="navigateToPaySuppliers()">
                    <mat-icon>payments</mat-icon>
                    Pagar a Proveedores
                </button>

                <!-- Botón para Realizar Venta -->
                <button mat-raised-button color="primary" (click)="navigateToMakeSale()">
                    <mat-icon>add_shopping_cart</mat-icon>
                    Realizar Venta
                </button>

                <!-- Botón para Revisar Inventario -->
                <button mat-raised-button color="warn" (click)="navigateToCheckInventory()">
                    <mat-icon>inventory</mat-icon>
                    Revisar Inventario
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>