<div class="permissions-container">
    <!-- Encabezado con acciones -->
    <div class="permissions-header">
      <h1>Gestión de Permisos</h1>
      <button mat-raised-button  (click)="openPermissionForm()">
        <mat-icon>add</mat-icon>
        Nuevo Permiso
      </button>
    </div>
  
    <!-- Filtros -->
    <mat-card class="filters-section">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar permiso...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  
      <mat-button-toggle-group [(ngModel)]="filterType" (change)="filterPermissions()">
        <div class="filter-buttons">
          <button mat-stroked-button [class.active]="filterType === 'all'"
            (click)="filterType = 'all'; filterPermissions()">
            Todos
          </button>
          <button mat-stroked-button [class.active]="filterType === 'active'"
            (click)="filterType = 'active'; filterPermissions()">
            Activas
          </button>
          <button mat-stroked-button [class.active]="filterType === 'inactive'"
            (click)="filterType = 'inactive'; filterPermissions()">
            Inactivas
          </button>
        </div>
      </mat-button-toggle-group>
    </mat-card>
  
    <!-- Tabla de Permisos -->
    <mat-card>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Codigo -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let permission">{{ permission.code }}</td>
          </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let permission">{{ permission.name }}</td>
        </ng-container>
  
        <!-- Estado -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let permission">
            {{ permission.status ? 'Activo' : 'Inactivo' }}
            <mat-icon [ngClass]="{'active': permission.status === 1}">
              {{ permission.status =='A' ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>
  
        <!-- Acciones -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let permission">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openPermissionForm(permission)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="toggleStatus(permission)">
                <mat-icon>{{ permission.status ? 'cancel' : 'check_circle' }}</mat-icon>
                <span>{{ permission.status ? 'Desactivar' : 'Activar' }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>