<div class="form-container">
    <h2 mat-dialog-title>{{ isEditing ? 'Editar' : 'Nuevo' }} Permiso</h2>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div mat-dialog-content class="form-content">
        <!-- Codigo -->
        <mat-form-field appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput formControlName="code" placeholder="Código del permiso">
            <mat-error *ngIf="form.get('code')?.errors?.['required']">
              El nombre es requerido
            </mat-error>
          </mat-form-field>

        <!-- Nombre -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Nombre del permiso">
          <mat-error *ngIf="form.get('name')?.errors?.['required']">
            El nombre es requerido
          </mat-error>
        </mat-form-field>
  
        <!-- Descripción -->
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
  
        <!-- Estado -->
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status">
            <mat-option value="A">Activa</mat-option>
            <mat-option value="I">Inactiva</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Botones de acción -->
      <div mat-dialog-actions class="form-actions">
        <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
        <button mat-raised-button type="submit" [disabled]="form.invalid" class="submit-button yellow-button">
          {{ isEditing ? 'Actualizar' : 'Crear' }}
        </button>
      </div>
    </form>
  </div>